<header>
    <h1 class="text-center">Worst. Songs. Ever.</h1>
      <p class="text-center">(We apologize for the earworms in advance...)</p>
  </header>
<p><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>

<div class="container content">
  <div class="col-md-6">
    <div class="video">
        <% @videos.each do |v| %>
        <h2><%= v.artist_name %> - <%= v.song_name %></h2>
          <div class= "col-md-12 video">
            <iframe width="100%" height="100%" src= "<%= v.url %>" frameborder="0" allowfullscreen></iframe>
          </div>
            <div class= "col-md-12">
              <p> <%= v.description %> </p>
              <%= commontator_thread(v) %>
            </div>
        <% end %>
    </div>
  </div>
</div>
